<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/simulationCommand.css' />
    <script type="text/javascript" src="/scripts/simulationCommand.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>   
    <p>Welcome to <%= title %></p> 
	<div>
	<select id="user" size="1">	
	<option>Doctor</option>
    <option>Nurse</option>
	</select>
	<hr/>
	<select id="type" size="1">
  <option>CART</option>
  <option>Ambulance</option>
  <option>St</option>
</select>
	<hr/>
    <input type="text" id="loc" name="loc1">
	<hr/>
    <input type="text" id="pos" name="pos1">
	<hr/>
	<button onclick="reqVeh()">Submit</button>
	</hr>
	<table ID="result1"></table>
	<table ID="result2"></table>
	</div>
	<div>
	<select id="uid" size="1">	
	 <option value="">-- Select --</option>
    <hr/>
    <input type="text" id="command" name="command">
	<button onclick="commandd()">uid</button>
	<button onclick="comm2()">Submit</button>
	<table ID="resultc1"></table>
	<table ID="resultc2"></table>
	
	</div>
   
	</select>
  </body>
</html>