<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/simulation.css' />
    <script type="text/javascript" src="/scripts/simulationStatus.js"></script>

  <body>
    <h1><%= title %></h1>      
    <p>Welcome to <%= title %></p>  
	<table ID="resTbl"></table>
	</body>
	</html>


